@charset "utf-8";

/* 컨텐츠부분 공통적용 */
#section {
  /* max-width: 1920px; */
  margin: 0 auto;
  /* background: #111; */
}

article {
  overflow: hidden;
  /* padding-bottom: 80px; */
}

/* 컨텐츠구역 1 */
.cont1 {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100vh;
  box-sizing: border-box;
}

.cont1 .video {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  animation: fadein 3s;
}

video {
  width: 100%;
}

@keyframes fadein {
  from {
    /* opacity: 0; */
    transform: scale(0);
  }
  to {
    /* opacity: 1; */
    transform: scale(1);
  }
}

/* 컨텐츠구역 2 */
.cont2 {
  background: #ecf2ff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont2 .container {
  width: 100%;
  position: relative;
}

.cont2 .search {
  width: 70%;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  position: relative;
}

.cont2 .searchUl {
  background-color: white;
  color: black;
  display: flex;
  border-radius: 50px;
}

.cont2 .searchUl li {
  width: 25%;
  text-align: left;
  padding: 20px 50px 20px 20px;
  font-weight: bold;
  border-radius: 50px;
  position: relative;
  transition: all 0.4s;
}

.cont2 .searchUl li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - calc(20px * 2));
  background-color: lightgray;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.cont2 .searchUl li:last-of-type::after {
  display: none;
}

.cont2 .searchUl li:hover {
  background-color: lightgray;
}

.cont2 .searchUl li span {
  color: grey;
  font-size: 12px;
  font-weight: normal;
}

.cont2 .search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  width: 50px;
  height: 40px;
  border-radius: 50px;
  background: #bad7e9;
  border: none;
}

.cont2 .search-btn i {
  font-size: 18px;
}
.cont2 .checklist {
  width: 70%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  margin-top: 30px;
  animation: fadeInDown 0.8s normal;
}

.cont2 .checklist.on {
  display: flex;
}

.cont2 .checklist .title {
  width: 25%;
  font-weight: bold;
  font-size: 16px;
  color: #565656;
}

.cont2 .checklist span {
  cursor: pointer;
  padding: 5px;
  flex: 1;
  font-size: 14px;
  color: rgb(155, 155, 155);
  transition: all 0.2s;
}

.cont2 .checklist span:hover {
  color: rgb(95, 209, 247);
  font-weight: bold;
}

.cont2 .group {
  display: flex;
  align-items: center;
  padding: 30px;
}

.cont2 .group1 {
  margin-top: 30px;
}

.cont2 .group3 {
  margin-bottom: 50px;
}

.cont2 .chlbottom {
  width: 90%;
  margin: 0 auto;
  white-space: normal;
}

.cont2 .chlbottom p {
  width: 130px;
  height: 30px;
  padding-left: 30px;
  line-height: 2.2em;
  background: #bad7e9;
  border-radius: 50px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  white-space: normal;
  position: relative;
  float: left;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px rgba(159, 162, 177, 0.5);
}

.cont2 .chlbottom span {
  cursor: pointer;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  font-size: 25px;
}

.cont2 .chlbottom span:hover {
  color: #000;
}

.cont2 .checklist span.on {
  color: #bad7e9;
}

.cont2 .chlbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont2 .chlbutton #btn1 {
  background: #464646;
}

.cont2 .chlbutton .btn {
  margin: 30px;
  background: #ff4f4f;
  padding: 15px 80px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(159, 162, 177, 0.8);
  transition: all 0.4s;
}

.cont2 .chlbutton .btn:hover {
  transform: scale(1.2);
}
.cont2 .result {
  margin-top: 100px;
  margin-bottom: 100px;
  display: none;
  animation: fadeInDown 0.8s normal;
}
.cont2 .result.on {
  display: block;
}
.cont2 .result h2 {
  text-align: center;
  color: #767676;
  font-size: 30px;
}

/* 컨텐츠구역 3 */
.cont3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.cont3 .container {
  width: 1400px;
  margin: 100px auto;
}

.cont3 .cont3_inner01 {
  float: left;
  width: 434px;
  height: 566px;
  background: url("../img/100.jpg") 0px 0px no-repeat;
  padding: 70px 60px;
}

.cont3 .cont3_inner01 .cont3_cont01 {
  width: 1200px;
  margin: 80px auto 30px;
  position: relative;
  padding: 0;
}

.cont3 .cont3_inner01 .cont3_cont01::after {
  content: "";
  display: block;
  clear: both;
}

.cont3_inner01 .cont3_cont01 .tit {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3;
}

.cont3 .cont3_inner01 .cont3_imgtxt {
  display: block;
  margin: 0 0 13px;
  position: relative;
}

.cont3 .cont3_inner01 .cont3_imgtxt a {
  display: inline-block;
  font-size: 15px;
  background: #fff;
  border-radius: 17px;
  padding: 7px 20px;
  color: #252525;
  border-color: #fff;
}

.cont3 .cont3_inner01 .cont3_imgtxt a:hover {
  background: #bad7e9;
}

.cont3 .cont3_inner02 {
  float: left;
  width: 960px;
  margin: 78px 0 0 -134px;
}

.cont3 .cont3_inner02 .cont3_cont02 {
  width: 100%;
}

.cont3 .cont3_inner02 .cont3_list {
  margin: -40px 0 0 5px;
  overflow: hidden;
}

.cont3 .cont3_inner02 .cont3_list > li {
  position: relative;
  float: left;
  background-color: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid rgb(234, 234, 234);
  min-height: 430px;
  width: 282px;
  margin: 40px 0 0 24px;
}

.cont3 .cont3_inner02 .cont3_list li:first-child {
  margin-left: 24px;
}

.cont3 .cont3_inner02 .cont3_list li .img {
  width: 282px;
  position: relative;
}

.cont3 .cont3_inner02 .cont3_list li .img img {
  height: 210px;
  display: block;
  width: 100%;
  object-fit: cover;
}

.cont3 .cont3_inner02 .cont3_list li .htl {
  padding: 0 20px 30px;
  height: auto;
}

.cont3 .cont3_inner02 .cont3_list .htl .name_group .item_title {
  overflow: hidden;
  max-height: 58px;
  color: #333;
  font-size: 17px;
  line-height: 27px;
  margin: 50px 0 30px;
  font-weight: 600;
  display: block;
}

.cont3 .cont3_inner02 .cont3_list .htl .name_group .item_text {
  max-height: 45px;
  margin-top: 5px;
  color: #333;
  font-size: 14px;
  line-height: 30px;
}

/* 컨텐츠구역 4 */
.cont4 {
  min-height: 100vh;
  /* background: #ecf2ff; */
}

.cont4_inner {
  width: 820px;
  margin: 0 auto;
}

.cont4 ul {
  margin: 220px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cont4 li {
  flex: 1 1 350px;
  margin: 0 10px 10px 0;
  /* filter: sepia(0.7); */
  position: relative;
  transition: all 0.8s ease-in-out;
}

.cont4 li:hover {
  /* filter: sepia(0); */
  z-index: 1999;
}

.cont4 li:nth-child(3n) {
  margin-right: 0;
}

.cont4 li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cont4 img {
  transition: all 0.8s ease-in-out;
  max-width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  /* border: 8px solid #ffe7cc; */
  border-bottom-width: 30px;
  border-radius: 15px;
}

.cont4 li:nth-child(1) img {
  transform: translate(-10px, 20px) rotate(-10deg);
}
.cont4 li:nth-child(2) img {
  transform: translate(-20px, 70px) rotate(10deg);
}
.cont4 li:nth-child(3) img {
  transform: translate(-40px, 5px) rotate(13deg);
}
.cont4 li:nth-child(4) img {
  transform: translate(-20px, 20px) rotate(5deg);
}
.cont4 li:nth-child(5) img {
  transform: translate(-30px, 50px) rotate(-10deg);
}
.cont4 li:nth-child(6) img {
  transform: translate(-40px) rotate(5deg);
}

.cont4 li .inner_cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont4 li p,
.cont4 li button {
  opacity: 0;
  letter-spacing: 1px;
  color: #fff;
}

.cont4 li p.cont01 {
  transform: translateY(-100%);
  font-size: 40px;
  font-weight: 700;
  padding: 30px 0px;
}

.cont4 li p.cont02 {
  font-size: 20px;
  transform: translateY(100%);
  margin-bottom: 30px;
}

.cont4 li:hover > img {
  /* opacity: 0.8; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.7);
  transform: scale(2);
}

.cont4 li:hover p,
.cont4 li:hover button {
  transform: translateY(0);
  opacity: 1;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
