@charset "uft-8";

/* base */
body,ul,li,p,h1,h2,h3,h4,h5,h6,video,dl,dt,dd{margin:0;padding:0;}
body{font:normal 12px "맑은 고딕";}
img{vertical-align:top;border:0;}
ul{list-style:none;}
a{text-decoration:none;}  
 
#wrap{width:100%;overflow: hidden;position: relative;}



/*section*/

section{width:100%;height:1300px;position:relative;} 
.page1{background: url(../img/bg1.jpg) no-repeat center fixed;background-size:cover;}
.page2{}




#sec2 span{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#fff;font-size:4em;font-weight:bold;}

#sec2 .slide {height: 100vh; 
    background-size:cover; 
    background-position:center;
    position: relative;
}
#sec2 .slide1{ background: honeydew; }
#sec2 .slide2{ background: skyblue; }
#sec2 .slide3{ background: lightblue; }
#sec2 .slide {
    display: flex;
    align-items:center;
    justify-content: left;
    position: relative
}
#sec2 .slide .slideright {
    background: url(../img/main1.jpg);
    width: 500px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    right: 200px;
    display: flex;
}

#sec2 .slide  .slide-text{ 
    position: absolute;
    left: 300px;
} 

#sec2 .slide .slide-text h3{
    color: #464646;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    transform: translateY(-100%); opacity: 0;
    transition: all 0.5s 0.6s;
}

#sec2 .slide.slick-current.slick-active .slide-text h3{
    transform: translateY(0%); opacity: 1;
}


#sec2 .slide .slide-text h2 {
    font-size: 65px;
    font-weight: 600;
    color: #464646;
    margin-bottom: 35px;
    transform: translateY(-100%); opacity: 0;
    transition: all 0.5s 0.6s;
}

#sec2 .slide.slick-current.slick-active .slide-text h2{
    transform: translateY(0%); opacity: 1;
}


#sec2 .slide  .slide-text p{
    font-size: 18px;
    font-weight: 500;
    color: #464646;
    line-height: 1.8;
    transform: translateY(100%); opacity: 0;
    transition: all 0.5s 0.6s;
}

#sec2 .slide.slick-current.slick-active .slide-text p{
    transform: translateY(0%); opacity: 1;
}


#sec2 .slide  .slide-text a{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #464646;
    letter-spacing: .1em;
    margin-top: 35px;
    padding: 16px 36px;
    border-radius: 30px;
    background-color: #fa5c5c;
    /* transition: all 0.5s; */
    transform: translateY(100%); opacity: 0;
    transition: all 0.5s 0.6s;
}

#sec2 .slide.slick-current.slick-active .slide-text a{
    transform: translateY(0%); opacity: 1;
}

#sec2 .slide .slide-text a:hover{
    background: #464646;
    color: #fa5c5c;
}
/* 슬라이드 버튼 적용하기 */

.article1 .slick-arrow{
    position: absolute; top: 50%; transform: translateY(-50%);
    font-size: 60px; color: #464646; border: none;
    background: none;
}
.article1 .slick-prev { left: 50px; z-index: 9;}
.article1 .slick-next { right: 50px;}

.article1 .slick-dots { 
    position: absolute; bottom: 30px; 
    width: 100%; text-align: center;
}

.article1 .slick-dots li { 
    display: inline-block; margin: 0 5px;
    width: 80px; height: 4px; background:rgba(0,0,0,1);
    position: relative;
}

.article1 .slick-dots li button {
    border: none; position: absolute;
    width: 0px; height: 4px; background: #464646; 
    top: 0; left: 0; text-indent: -9999px; overflow: hidden;
}

.article1 .slick-dots li.slick-active button{
    animation: btnani 3s both;
} 


@keyframes btnani {
    0% { width: 0px;} 
    100% { width: 80px;}
}

.transformThis {
    animation: scaleDown 500ms;
}
.transformPrev {
    animation: scaleUp 100ms;
    display: none;
}
@keyframes scaleUp {
    0% {
        transform: scale(1.2) translateY(50px);
        opacity: 0;
    }
    20% {
        transform: scale(1.15) translateY(40px);
        opacity: 0.10;
    }
    40% {
        transform: scale(1.10) translateY(30px);
        opacity: 0.20;
    }
    60% {
        transform: scale(1.05) translateY(20px);
        opacity: 0.40;
    }
    80% {
        transform: scale(1.01) translateY(10px);
        opacity: 0.80;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    20% {
        transform: scale(1.01) translateY(20px);
        opacity: 0.80;
    }
    40% {
        transform: scale(1.05) translateY(40px);
        opacity: 0.40;
    }
    60% {
        transform: scale(1.10) translateY(60px);
        opacity: 0.20;
    }
    80% {
        transform: scale(1.15) translateY(80px);
        opacity: 0.10;
    }
    100% {
        transform: scale(1.2) translateY(100px);
        opacity: 0;
    }
}
@keyframes scaleCard {
    0% {
        top: 5px;
    }
    100% {
        top: 24px;
    }
}
@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0);
    }
}